<script type="text/html" id="ordersOverviewView">
    <div class="span4">
        <h2>Order By: <span data-bind="text: $root.getCustomerById(customerID)"></span> </h2>
        <p>address: </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</script>