<script type="text/html" id="customersOverviewView">
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Customers</li>
			<li class="active"><a href="#/customers/overview">View All</a></li>
			<li><a href="#/customers/add">Add a customer</a></li>
		</ul>
	</div>
	<!--/.well -->
</div>
<!--/span-->
<div class="span9">
    <div class="row-fluid" data-bind="foreach: <%= data.customersFunc %>"> 
		<div class="span3 listItem">
			<h2><span data-bind="text: name"></span></h2>
            <img height="150" data-bind="attr: { src: 'customer/image/' + customerID() }" />
			<div>Birth Day: <b data-bind="text: new Date(birthDay()).toDateString()"></b></div>
			<a class="btn" data-bind="attr: { href: '#/customer/id/' + customerID() }">View details &raquo;</a>
			<a class="btn" data-bind="attr: { href: '#/customer/edit/' + customerID() }"><i class="icon-edit"></i> Edit</a>
		</div>
		<!--/span-->
	</div>
	<!--/row-->
	<div class="row-fluid" data-bind="if: !<%= data.customersFunc %>().length">
		<div class="span12">
			<h2>No customers found!</h2>
		</div>
	</div>
	<!--/row-->
</div>
<!--/span-->
</script>
