<script type="text/html" id="productDetailView">
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Products</li>
			<li><a href="#/products/overview">All Products</a></li>
			<li><a href="#/orders/status/completed">Add Product</a></li>
			<li><a href="#/orders/status/stopped">Search Products</a></li>
		</ul>
	</div>
	<!--/.well -->
</div>
<!--/span-->
<div class="span9" data-bind="with: getProductById(<%= data.productID %>)">
	<h2><span data-bind="text: name"></span></h2>
	<div data-bind="text: description"></div>
	<div>Price: <b data-bind="text: '$' + price()"></b></div>
	<div>Time Stamp: <b data-bind="text: timeStamp"></b></div>
	<a class="btn" data-bind="attr: { href: '#/product/edit/' + productID() }"><i class="icon-edit"></i> Edit</a>
	<a class="btn" href="#">Delete</a>
	<br />
	<div data-bind="foreach: $root.getProductImages(productID())">
		<img data-bind="attr: { src: 'blob/imageById/' + blobID() + '#' + name() }" style="height:100px; margin:10px;"/>
	</div>

	<h2>Orders Containing <span data-bind="text: name"></span></h2>
    <div class="row-fluid" data-bind="foreach: $root.getProductOrders(productID())">
        <div class="span4 listItem" style="margin:0px; padding:10px;">
			<div>Address: <span data-bind="text: address"></span></div>
			<div>Total Price: <b data-bind="text: '$' +  $root.getOrderPrice($data)"></b></div>
			<a class="btn" data-bind="attr: { href: '#/order/id/' + orderID() }">Order details &raquo;</a>
		</div>
		<!--/span-->
    </div>
</div>
<!--/span-->
</script>
