<script type="text/html" id="productEditView">
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Products</li>
			<li><a href="#/products/overview">All Products</a></li>
			<li><a data-bind="click: addProduct" href="#">Add Product</a></li>
		</ul>
	</div>
	<!--/.well -->
</div>
<!--/span-->
<div class="span9"">
	<form class="form-horizontal">
    <fieldset>
        <legend>Edit Product</legend>
        <div class="control-group">
          <label class="control-label" for="productName">Product Name:</label>
          <div class="controls"  data-bind="with: getProductById(<%= data.productID %>)">
           <input type="text" id="productName" data-bind="attr: { value: name }" class="input-xlarge">
            <p class="help-block">Enter the official product name (optional)</p>
          </div>
          <br />

          <label class="control-label" for="productPrice">Product Price:</label>
          <div class="controls"  data-bind="with: getProductById(<%= data.productID %>)">
           <input type="text" id="productPrice" data-bind="attr: { value: price }" class="input-xlarge">
            <p class="help-block">Enter the product price (optional)</p>
          </div>
          <br />
		  
          <label class="control-label" for="productDescription">Product Description:</label>
          <div class="controls"  data-bind="with: getProductById(<%= data.productID %>)">
           <textarea id="productDescription" data-bind="text: description"></textarea>
            <p class="help-block">Enter the product description</p>
          </div>
          <br />
		  
          <label class="control-label" for="productFile">Add related file:</label>
          <div class="controls">
		   <select id="productFileType">
		     <option value="0">Image</option>
		     <option value="1">Document</option>
		     <option value="2">Video</option>
		     <option value="3">Other</option>
		   </select><br /><br />
           <div id="productFile"></div>
            <p class="help-block">Select a file related to product</p>
          </div>
        </div>

    </fieldset>
    </form>
	 
    <div data-bind="with: getProductById(<%= data.productID %>)" >
	    <a class="btn" data-bind="click: $root.saveProduct">Save Product</a>
	    <a class="btn" data-bind="click: $root.deleteProduct">Delete Product</a>
    </div>
	<br />
	<div class="row-fluid" data-bind="foreach: $root.getProductImages(<%= data.productID %>)">
		<div class="span4 listItem" style="text-align:center;" >
			<img data-bind="attr: { src: 'blob/imageById/' + blobID() + '#' + name() }" style="height:100px; margin:10px;"/>
			<br />
			<a class="btn" data-bind="click: $root.deleteBlob">Delete Image</a>
		</div>
	</div>
    <br />
    <table class="table-bordered table table-striped table-condensed">
        <thead>
            <tr>
                <td>File Name</td>
                <td>File type</td>
                <td>Download File</td>
                <td>Time stamp</td>
                <td>Operations</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.getProductNonImages(<%= data.productID %>)">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: $root.getFileType(type())"></td>
                <td><a data-bind="attr: { href: 'blob/fileByName/' + name() }">Download</a></td>
                <td data-bind="text: new Date(timeStamp()).toDateString()"></td>
                <td><a class="btn" data-bind="click: $root.deleteBlob">Delete File</a></td>
            </tr>
        </tbody>
	</table>
</div>
<!--/span-->
</script>
